:root {
    --grey:  #A09F9F;
    --white: #ffffff;
    --light-blue: #92B4EC;
    --light-grey-blue: #c1d2ec;
    --black: #000000;

    --br: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 30px;
    background-color: var(--grey);
    color: var(--white);
}

header h1 {
    font-size: 42px;
}

header button {
    text-decoration: none;
    font-size: 20px;
    color: var(--white);
    background-color: var(--grey);
    border: none;
    padding: 10px 20px;
}

header button.active {
    border-bottom: 3px solid var(--white);
}

header button.active:hover {
    color: var(--white);
    cursor: default;
}

header button:hover {
    cursor: pointer;
    color: var(--light-grey-blue);
    transition: all 0.2s ease-in-out;
}

.home {
    display: flex;
}

.left {
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 30px;
}

hr {
    border: 1px solid var(--black);
}

.container {
    padding: 0 25%;
}

.logo {
    font-size: 24px;
    color: var(--light-blue);
}

.container h3 {
    margin: 40px 0;
    font-size: 38px;
}

.container button {
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
    border-radius: var(--br);
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
}

.container button:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.4s ease;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 50%;
    height: 90vh;
}

.right img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 48px;
    margin: 50px;
}

.menu {
    display: grid;
    height: 400px;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 50px;
    margin: 100px;
}

.item {
    display: flex;
    gap: 20px;
    background-color: var(--grey);
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 225px;
}

.item .food-img {
    align-self: center;
}

.food {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    inline-size: 200px;
    overflow-wrap: break-word;
    color: var(--white);
}

.food-img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    background-color: var(--black);
    border-radius: var(--br);
}

.food-title {
    font-weight: 900;
}

.food-price {
    font-weight: 900;
    color: var(--light-grey-blue);
}

.info {
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    background-color: var(--grey);
    border-radius: var(--br);
}

.info-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color: var(--white);
}

.location {
    background-color: var(--black);
    height: 300px;
    object-fit: cover;
    border-radius: var(--br);
}

@media only screen and (max-width: 830px) {
    .menu {
        margin-top: 375px;
        grid-template-columns: auto;
    }
  }