:root {
    --header-bg: #A09F9F;
    --font-color: #ffffff;
    --logo-color: #92B4EC;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 30px;
    background-color: var(--header-bg);
    color: var(--font-color);
}

header h1 {
    font-size: 42px;
}

header button {
    text-decoration: none;
    font-size: 20px;
    color: var(--font-color);
    background-color: #A09F9F;
    border: none;
    padding: 10px 20px;
}

header button.active {
    border-bottom: 3px solid #fff;
}

header button.active:hover {
    color: #fff;
    cursor: default;
}

header button:hover {
    cursor: pointer;
    color: #92B4EC;
    transition: all 0.2s ease-in-out;
}

.home {
    display: flex;
}

.left {
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 30px;
}

hr {
    border: 1px solid black;
}

.container {
    padding: 0 25%;
}

.logo {
    font-size: 24px;
    color: var(--logo-color);
}

.container h3 {
    margin: 40px 0;
    font-size: 38px;
}

.container button {
    background-color: #92B4EC;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
}

.container button:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.4s ease;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 50%;
    height: 90vh;
}

.right img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 48px;
    margin: 50px;
}

.menu {
    display: grid;
    height: 400px;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 50px;
    margin: 50px;
}

.item {
    display: flex;
    gap: 20px;
    background-color: #A09F9F;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
}

.food {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;

}

.food-img {
    height: 150px;
    width: 150px;
    background-color: black;
    border-radius: 10px;
}

.info {
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    background-color: #A09F9F;
    border-radius: 10px;
}

.info-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color: #fff;
}

.location {
    background-color: black;
    height: 300px;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .menu {
        margin-top: 200px;
        grid-template-columns: auto;
    }
  }